<%- include("partials/header") %>

<div class="container">
    <div class="container">
        <header class="jumbotron">
                <h1>Welcome to YelpCamp!</h1>
                <p><em>View our hand-picked campgrounds all over the world.</em></p>
                <p>
                <a class="btn btn-primary btn-lg" href="/campground/new">Add new <strong>campground </strong><img style="height:20px;width:20px;" src="https://image.flaticon.com/icons/png/512/61/61183.png" alt="Add"></a>
                </p>
        </header>
    </div>
    <div class="row text-center" style="display:flex;flex-wrap:wrap;">
        <% camp.forEach(function(camp){ %>
                <div class="col-lg-4 col-md-6">
                    <div class="img-thumbnail">
                        <img class="img-fluid img-thumbnail" style="height: 300px;width: 500px;" src="<%= camp.image %>" alt="Camp Image">
                        <div class="caption">
                            <h4><%= camp.name %></h4>
                            <a class="btn btn-sm btn-dark" href="/campground/<%= camp._id %>">More Info <img style="height:18px;width:18px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLYwf_JxKzW6o1MFylK229tE8mVWBAKxn188h4Ey5LJk7oqEp1dQ&s" alt="More Info"></a>
                        </div>
                    </div>
                </div>
        <% }); %>
    </div>
</div>

<%- include("partials/footer") %>


