<%- include("partials/header") %>

<h1><%= data.name %></h1>
<img src="<%= data.image %>" alt="Camp Image">
<p><%= data.description %></p>
<a class="btn " style="border: 1px solid red;" href="/campground"><strong>Go back </strong><img style="height:20px;width:20px;background-color:pink" src="https://cdn1.iconfinder.com/data/icons/navigation-arrows/512/arrow-back-512.png" alt="Go back"></a>

<%- include("partials/footer") %>